<?xml version="1.0" encoding="ISO-8859-1"?>
<upomenu>
	<plato>
		<id>1</id>
		<nombre>Papas Bravas</nombre>
		<tipo>Tapa</tipo>
		<precio>5,50</precio>
		<ingrediente>
			<nombre>Papas</nombre>
			<nombre>Aceite Oliva</nombre>
			<nombre>Ajo</nombre>
			<nombre>Salsa Picante</nombre>
			<nombre>Alioli</nombre>
			<alergerno>Gluten</alergerno>
			<alergerno>Huevo</alergerno>
		</ingrediente>
	</plato>
	<plato>
		<id>2</id>
		<nombre>Huevas Aliñadas</nombre>
		<tipo>Tapa</tipo>
		<precio>3,50</precio>
		<ingrediente>
			<nombre>Huevas</nombre>
			<nombre>Aceite Oliva</nombre>
			<nombre>Cebolla</nombre>
			<nombre>Pimiento</nombre>
			<nombre>Sal</nombre>
		</ingrediente>
	</plato>
	<plato>
		<id>3</id>
		<nombre>Pico de Gallo</nombre>
		<tipo>Tapa</tipo>
		<precio>5,50</precio>
		<ingrediente>
			<nombre>Tomate Rojo</nombre>
			<nombre>Cebolla Roja</nombre>
			<nombre>Zumo de Lima</nombre>
			<nombre>Sal</nombre>
			<nombre>Huevo Duro</nombre>
			<nombre>Cilantro</nombre>
		</ingrediente>
	</plato>
	<plato>
		<id>4</id>
		<nombre>Tarta de la Cassa</nombre>
		<tipo>Plato</tipo>
		<precio>22,50</precio>
		<ingrediente>
			<nombre>Gelatina</nombre>
			<nombre>Cafe Molido</nombre>
			<nombre>Azúcar</nombre>
			<nombre>Queso Mascarpone</nombre>
			<nombre>Chololate</nombre>
		</ingrediente>
	</plato>
	<plato>
		<id>5</id>
		<nombre>Tallarines a la marinera con almejas y gambas </nombre>
		<tipo>Plaro</tipo>
		<precio>7,50</precio>
		<ingrediente>
			<nombre>Tallarines</nombre>
			<nombre>Almejas Grandes</nombre>
			<nombre>Gambas</nombre>
			<nombre>Salsa Picante</nombre>
			<nombre>Tomate</nombre>
			<nombre>Ajo</nombre>
			<nombre>Caldo de Pescado</nombre>
		</ingrediente>
	</plato>

	<menu>
		<nombre>Menu del dia</nombre>
		<precio>32,25</precio>
		<primerPlato>1</primerPlato>
		<segundoPlato>2</segundoPlato>
		<postre>4</postre>
		<bebidas>
			Coca-cola
		</bebidas>
	</menu>
	<menu>
		<nombre>Menu especial</nombre>
		<precio>36,25</precio>
		<primerPlato>3</primerPlato>
		<segundoPlato>5</segundoPlato>
		<postre>4</postre>
		<bebidas>
			Coca-cola
		</bebidas>
	</menu>
	<bebida>
		<nombre>Coca-Cola</nombre>
		<precio>0,75</precio>
		<alcoholico>no</alcoholico>
		<azucarado>si</azucarado>
		<gaseoso>si</gaseoso>
	</bebida>
	<bebida>
		<nombre>Fanta</nombre>
		<precio>0,50</precio>
		<alcoholico>no</alcoholico>
		<azucarado>si</azucarado>
		<gaseoso>si</gaseoso>
	</bebida>
	<bebida>
		<nombre>Barcelo</nombre>
		<precio>7</precio>
		<alcoholico>si</alcoholico>
		<azucarado>no</azucarado>
		<gaseoso>no</gaseoso>
	</bebida>
	<bebida>
		<nombre>7 UP</nombre>
		<precio>0,65</precio>
		<alcoholico>no</alcoholico>
		<azucarado>si</azucarado>
		<gaseoso>si</gaseoso>
	</bebida>
	<bebida>
		<nombre>Camaleon</nombre>
		<precio>0,75</precio>
		<alcoholico>no</alcoholico>
		<azucarado>si</azucarado>
		<gaseoso>si</gaseoso>
	</bebida>
	<bebida>
		<nombre>Te</nombre>
		<precio>0,95</precio>
		<alcoholico>no</alcoholico>
		<azucarado>si</azucarado>
		<gaseoso>no</gaseoso>
	</bebida>
</upomenu>